body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
    font-weight: bold;
}

session {
    display: flex;
    margin-bottom: 150px;
}

.session-2 {
    display: flex;
    ;
}

.top-banner {
    background-image: url(img/top-banner-removebg-preview.png);
    background-repeat: no-repeat;
}

.text-part {
    width: 50%;
    padding-left: 5%;

}

.images-part {
    width: 50%;
}

.images-part img {
    width: 80%;
    padding-left: 5%;
}

.dev {
    font-weight: 700;
    font-size: 20px;
    ;
}

span {
    color: orange;
}

h3 {
    font-weight: 700;
    font-size: 20px;
}

.text-part p {
    font-weight: 700;
    color: #696969;
}

.button {
    color: white;
    background-image: linear-gradient(#FF6D4F, #f88169);
    font-weight: 700;
    border-radius: 5px;
    ;

}

.button {
    text-decoration: none;
    padding: 10px 40px;
}



.images-part-1 {
    width: 50%;
}

.images-part-1 img {
    width: 80%;
    padding-left: 10%;
}

.dev-1 {
    font-weight: 700;
    font-size: 20px;
}

.text-part-1 {
    width: 50%;
    padding-right: 5%;
}

.top-banner-1 {
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

.session-3 {
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: 150px;
}

.flexible {
    display: flex;

}

.half-width-1 {
    width: 40%;
    box-shadow: rgba(95, 92, 92, 0.35) -5px -5px 10px;
    box-shadow: rgba(95, 92, 92, 0.35) 5px 5px 10px;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    padding-right: 8px;
    border-left: 10px solid;
    border-image: linear-gradient(#FF6D4F, #f88169);
    border-image-slice: 1;

}

.half-width-2 {
    width: 40%;
    box-shadow: rgba(95, 92, 92, 0.35) -5px -5px 10px;
    box-shadow: rgba(95, 92, 92, 0.35) 5px 5px 10px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 15px;
    border-left: 8px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

.half-width h1 {
    font-size: 40px;
    ;
    font-weight: bold;
}

.copy p {
    color: #696969;
    text-align: center;
}